/* Header */
.logo {
  width: 75px;
  height: 38px;
  margin: 6px 75px;
}
.recherche {
  flex: 1;

  border-radius: 4px;
  background-color: #f5f6f7;
  margin: 5px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
}
.buton1 {
  height: 50px;
  width: 150px;
  margin: 0px 20px 0px 0px;
  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}
.buton2 {
  height: 50px;
  width: 150px;
  margin: 0px 50px 0px 70px;
  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #2cb1ba;
  font-size: 14px;
}

.buton12 {
  height: 50px;
  width: 150px;

  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}

/* Home */
.photo {
  object-fit: cover;
  height: 550px;
  width: 100%;
  margin: 10px 0px;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.home2 {
  width: 280px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}

.url {
  width: 250px;
  height: 328px;
  margin: 40px 40px;
}
.avatar {
  border-radius: 880px;
  width: 80px;
}
.name {
  color: #999;
  font-size: 15px;
}

.taille {
  color: #999;
  font-size: 15px;
}

.marque {
  color: #999;
  font-size: 15px;
}

.prix {
  font-size: 15px;
}
.article {
}

/* signup */
.signup {
  width: 275px;
  margin: auto;
}

.nom {
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 15px;
}

/* login */
.login {
  width: 275px;
  margin: auto;
}

.connecter1 {
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 15px;
}

.connecter {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
}

/* offer */

.offer {
  width: 1280px;
  display: flex;
  margin: 43px;
  justify-content: space-around;
  background-color: gray;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  padding: 40px;
}
.info1 {
  display: flex;
}
/* Footer */
.footer {
  display: flex;
  color: pink;
  font-size: 18px;
  font-family: "Xanh Mono", monospace;
  justify-content: center;
}
