.logo {
  width: 75px;
  height: 38px;
  margin: 6px 75px;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.button button {
}
.name {
  color: #999;
  font-size: 15px;
}

.taille {
  color: #999;
  font-size: 15px;
}

.marque {
  color: #999;
  font-size: 15px;
}

.prix {
  font-size: 15px;
}
.article {
}
