/* Header */
.logo {
  width: 75px;
  height: 38px;
  margin: 6px 75px;
}
.recherche {
  flex: 1;
  border-radius: 4px;
  background-color: #f5f6f7;
  margin: 5px;
}

.glob {
  padding: 0px 20px;
  margin: 20px;
  display: flex;
  flex: 1;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
}
.buton1 {
  height: 50px;
  width: 150px;
  margin: 0px 20px 0px 0px;
  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}
.buton2 {
  height: 30px;
  width: 150px;
  margin: 0px 50px 0px 70px;
  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #2cb1ba;
  font-size: 14px;
  color: white;
}

.buton12 {
  height: 30px;
  width: 150px;
  color: white;
  border: 1px solid #c2175b;
  border-radius: 10px;
  background-color: #c2175b;
  font-size: 14px;
}

/* Home */
.photo {
  object-fit: cover;
  height: 550px;
  width: 100%;
  margin: 10px 0px;
}

.mam {
}
.b21 {
  margin: 10% 15px;
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
}

.b22 {
  height: 50px;
  width: 150px;
  margin: 0px 50px 0px 70px;
  border: 1px solid #2cb1ba;
  border-radius: 10px;
  background-color: #2cb1ba;
  font-size: 14px;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.home2 {
  width: 280px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}

.url {
  width: 250px;
  height: 328px;
  margin: 40px 40px;
}
.avatar {
  border-radius: 880px;
  width: 80px;
}
.name {
  color: #999;
  font-size: 15px;
  margin: 40px 40px;
}

.taille {
  color: #999;
  font-size: 15px;
  margin: 40px 40px;
}

.marque {
  color: #999;
  font-size: 15px;
  margin: 40px 40px;
}

.prix {
  font-size: 15px;
  margin: 40px 40px;
}
.article {
}

/* signup */
.signup {
  width: 275px;
  margin: auto;
}

.nom {
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 15px;
}

/* login */
.login {
  width: 275px;
  margin: auto;
}

.connecter1 {
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 15px;
}

.connecter {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
}

/* offer */

.offer {
  width: 1280px;
  display: flex;
  margin: 43px;
  justify-content: space-around;
  background-color: #ebedee;
}

.photo2 {
  object-fit: contain;
  height: 650px;
  width: 455px;
}
.prix2 {
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  padding: 40px;
}
.info1 {
  display: flex;
}
.info4 {
  flex: 1;
  font-size: 14px;
  color: #999;
  font-family: "Xanh Mono", monospace;
}
.info5 {
  flex: 1;
  color: #666;
  font-weight: 700;
  font-family: "Xanh Mono", monospace;
}
.info2 {
}
.buton5 {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  height: 46px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}

/* publish */
.input1 {
  visibility: hidden;
}

.global1 {
  background-color: #ebedee;
}

.input {
  padding: 24px;
  margin: 20px 0;
}

.ajt {
  background-color: pink;
  padding: 24px;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ajt1 {
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  width: 210px;
  height: 50px;

  color: white;
  font-weight: 700;
}
.titedes {
  background-color: pink;
  padding: 24px;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 180px;
  width: 1310px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marque2 {
  background-color: pink;
  padding: 24px;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 1310px;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.prix6 {
  background-color: pink;
  padding: 24px;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 1310px;
  margin: 25px;
}

.sub {
  display: flex;
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
  width: 86px;
  height: 50px;
}
/* Footer */
.footer {
  display: flex;
  color: pink;
  font-size: 18px;
  font-family: "Xanh Mono", monospace;
  justify-content: center;
}
